{% extends 'admin/dashboard.html.twig' %}

{% block body %}
    {{ include('admin/project_status/_form.html.twig') }}
    <a href="{{ path('app_admin_project_status_index') }}">back to list</a>
{% endblock %}
